@import "./typography.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--accent);
    scrollbar-width: auto;
    scrollbar-color: var(--muted) transparent;
  }
  html {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--background);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    color: var(--foreground);
  }
  body ::selection {
    background-color: var(--accent);
    color: var(--background);
  }
  a,
  button {
    outline-offset: 1px;
    outline-color: var(--accent);
  }
  a:focus-visible,
  button:focus-visible {
    text-decoration: none;
    outline: 2px dashed var(--accent);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Custom utility for max-width */
.max-w-app {
  max-width: 48rem;
}

.active-nav {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
